<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><title>OneSide</title><link rel="stylesheet" href="/src/css/style.css"></head><body><img src="/src/img/logo.png" alt="logo"><h1>Thank you for using OneSide ❤️</h1><p>You are currently using version <%= version %> of OneSide.</p><a href="https://github.com/Marius-brt/oneside-js" target="_blank">Learn</a>$GLOBAL$<script src="/socket.io/socket.io.js"></script><script>const socket = io();
						  let live_s_connected = false;
						  socket.on('connected_live', () => {
							  if(live_s_connected) location.reload()
							  live_s_connected = true;
							console.log("Connected to OneSide Live Server !")
						  })
						  socket.on('reload_live', () => {
							  location.reload()
						  })</script></body></html>