<img src="/public/img/logo.png" alt="logo">
<h1>Thank you for using OneSide ❤️</h1>
<p>You are currently using version <%= version %> of OneSide.</p>
<a href="https://github.com/Marius-brt/oneside-js/wiki" target="_blank">Learn<i class="fas fa-arrow-right"></i></a>